/* ------ RESET ------ */

/* font-family: 'Corinthia', cursive; */
/* font-family: 'Lato', sans-serif; */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

a {
	text-decoration: none;
	text-transform: bold;

	color: #D9CAB3;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

body,
footer {
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
}

header {
	font-family: "Lato", sans-serif;
}

hr {
	background-color: #5E0B15;
	border: solid 2px #5E0B15;
	width: 95%;
	padding: 0.1rem;
	margin: 0 auto;
}

/* ------ HEADER ------ */

.logo {
	max-width: 60%;
}

.contenedor {
	max-width: 1980px;
	margin: 0 auto;
}

.header_wrapper {
	background-image: url(../imagenes/image_index/portada.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image:
		linear-gradient(#0000008e, rgba(94, 11, 21, 0.329)), url(../imagenes/image_index/portada.jpg);

	width: 100%;
	min-height: 900px;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	justify-items: center;
	align-content: center;

	font-family: 'Lato', sans-serif;
	font-weight: 900;

	overflow: hidden;
}

/* ------ HEADER / CAMBIO SECCIONES ------ */

.header_seccion {
	background-color: #5E0B15;
	max-height: 240px;
	padding-top: 2rem;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	justify-items: center;
	align-content: center;
}

.contenedor__seccion {
	background-color: #ffffff;
	min-height: 40vh;
	padding: 2rem;
	margin: 10rem 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	color: #5E0B15;
	text-align: center;
}

.contenedor__seccion h1 {
	font-size: 2.5rem;
	font-weight: 900;
}

.descripcion__seccion {
	background-color: #ffffff;
	max-width: 1024px;
	min-height: 20vh;
	margin: 0 auto;

	line-height: 0.5rem;
}

.descripcion__seccion h3 {
	color: #90323D;
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
}

.descripcion__seccion h4 {
	color: #BC8034;
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
}

/* --- NAV --- */

.navbar-nav {
	padding-left: 4rem;

	gap: 2rem;

	text-align: right;
}

.navbar,
.container {
	padding: 1rem 2rem;
}

.navbar-toggler-icon {
	color: #D9CAB3;
}

.nav-item {
	background-color: #5E0B15;
	border-radius: 2rem;
	box-shadow: inset 0px 0px 10px 0 #00000093;

	width: 100%;
	padding: 1rem;

	gap: 1rem;

	color: #D9CAB3;
}

.nav-link {
	color: #D9CAB3;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	font-weight: 900;
}

.nav-link:hover {
	color: #BC8034;
	text-shadow: #5E0B15;
	font-size: 1.2rem;

	transition: 0.6s ease-in-out;
}

.navbar .a {
	color: #8C7A6B;
}

.navbar-toggler {
	color: #D9CAB3;
}

[data-bs-theme="dark"] {
	--bs-body-bg: none;
	--bs-border-color-translucent: none;
}

.dropdown-menu {
	background-color: #5e0b15c7;
	box-shadow: inset 0px 0px 10px 0 #5e0b1593;

	font-size: 0.6rem;
}

.dropdown-item {
	color: #8C7A6B;
	font-family: "Lato", sans-serif;
	font-size: 1.2rem;
	text-align: right;
}

.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #d9cab386;

	color: #5E0B15;
	font-style: italic;
	text-shadow: #5E0B15;

	transition: 1s;
}

/* --- H1 --- */

.contenedor__titular {
	background-color: #5e0b1593;
	box-shadow: inset 0px 0px 10px 0 #5E0B15;

	width: 100%;
	height: 100%;
	padding: 2rem;
	margin: 8rem 0;

	flex-wrap: wrap;
	flex-direction: column;

	text-align: center;
	line-height: 0.2;
}

.contenedor__titular h1 {
	color: #D9CAB3;
	font-family: 'Corinthia', cursive;
	font-size: 4.6rem;
	line-height: 0.8;
}

.contenedor__titular h3 {
	color: #BC8034;
	font-family: 'Corinthia', cursive;
	font-size: 2.6rem;
	font-weight: 700;
}

.contenedor__titular h4 {
	color: #D9CAB3;
	font-size: 1.6rem;
	font-weight: 900;
}

/* ------ MAIN ------ */

.font__detalle {
	font-style: italic;
	font-weight: 700;
}

.contenedor_main {
	max-width: 1200px;

	display: flex;
	flex-wrap: wrap;

	align-items: center;
}

/* --- FORM --- */

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	align-items: center;
	justify-content: space-between;
}

form input,
textarea {
	border: #5E0B15 solid 1px;
	border-radius: 0.5rem;
	box-shadow: inset 0px 0px 10px 0 #5E0B15;

	width: 320px;
	padding: 0.5rem;
	margin: 0.5rem;

	color: #BC8034;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
}

.boton_value {
	background-color: #5E0B15;
	border-radius: 1rem;

	color: #8C7A6B;
	font-size: 1rem;
	font-weight: bold;
}

.boton_value:hover {
	box-shadow: 2px 2px 4px 0 #5E0B15;

	color: #BC8034;
	font-size: 1.2rem;
	text-shadow: #BC8034;

	transition: 1s ease-in-out;
}

/* --- DESTACADO --- */

.contenedor__destacado {
	padding: 2rem;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	align-items: center;

	text-align: center;
	line-height: 3rem;
}

.contenedor__destacado h3 {
	color: #90323D;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 700;
}

.contenedor__destacado h4 {
	color: #BC8034;
	font-size: 1.2rem;
}

.boton {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	align-items: center;

	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
}

.boton h5 {
	border: solid 2px #8C7A6B;
	border-radius: 0.3rem;

	padding: 1rem 1rem 1rem;
	margin: 0 auto;

	color: #8C7A6B;
	font-weight: 700;
}

.boton h5:hover {
	background-color: #8C7A6B;
	border: solid 2px #8C7A6B;

	color: #D9CAB3;
	text-shadow: #5E0B15;
}

/* --- CAROUSEL --- */

.carousel {
	width: 80vw;
	height: 360px;

	overflow: hidden;
}

.carousel img {
	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: 0.6s ease-in-out;
}

.carousel img:hover {
	display: flex;
	cursor: pointer;

	transform: scale(1.4);

	transition: 0.6s ease-in-out;
}

/*  --- TITULO SECCIONES --- */

.titular {
	padding: 6rem 0 2rem;
	margin: 0 auto;
}

.titular h2 {
	color: #5E0B15;
	font-family: 'Lato', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
}

/* --- DATOS --- */

.contenedor__datos {
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	text-align: center;
}

.contenedor__datos img {
	width: 100%;
	height: 100%;

	object-fit: cover;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	transition: all 0.8s ease;
}

.contenedor__datos img:hover {
	transition: all 0.6s ease;
	filter: brightness(60%);
}

.datos {
	padding: 2rem;
}

.contenedor {
	max-width: 1980px;
	margin: 0 auto;
}

.contenedor img {
	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: all 0.8s ease;
}

.contenedor img:hover {
	transition: all 0.6s ease;
	filter: brightness(60%);
}

/* --- PRODUCTOS --- */

.contenedor__productos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	justify-items: center;
	align-content: center;

	gap: 2rem;
}

.contenedor__productos p {
	padding: 2rem 0 0 0;
}

.contenedor__productos h4 {
	padding: 0 2rem 0 2rem;
}

ol {
	background-color: #D9CAB3;
	padding: 1rem;
	margin: 1rem;
}

.parrafo h2 {
	padding: 1rem;

	color: #BC8034;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 400;
	line-height: 2rem;
	text-align: initial;
}

.parrafo h3 {
	padding: 1rem;

	color: #5E0B15;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2.2;
	text-align: initial;
}

.parrafo h4 {
	color: #8C7A6B;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 2rem;
	text-align: center;
}

.parrafo h5 {
	color: #90323D;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.5rem;
	text-align: center;
}

.sub__titulo {
	min-height: 300px;

	align-self: flex-end;

	font-size: 2rem;
	text-align: right;
	line-height: 0.2;
}

.subtitulo {
	max-height: 400px;
	padding: 2rem;

	align-self: start;

	font-size: 2rem;
	text-align: center;
	line-height: 0.2;
}

.subtitulo h2 {
	color: #90323D;
	font-weight: 900;
}

.subtitulo h3 {
	color: #BC8034;
	font-style: italic;
}

.sub__titulo h2 {
	color: #90323D;
	font-weight: 900;
}

.sub__titulo h3 {
	color: #BC8034;
	font-style: italic;
}

.titulo {
	margin-right: auto;
	margin-left: auto;
	padding: 4rem 0 0 0;

	line-height: 0.2rem;
}

.titulo h2 {
	color: #5E0B15;
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
}

.titulo h3 {
	color: #BC8034;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 900;
	text-align: center;
}

.link {
	min-height: 250px;
	width: 25%;
	padding-top: 1.5rem;

	display: flex;
	flex-wrap: wrap;

	align-self: flex-end;

	font-size: 1rem;
	font-weight: 900;
	font-style: italic;
	text-align: center;
}

.link h5 {
	border: solid 1px #8C7A6B;
	border-radius: 0.2rem;
	padding: 0.4rem;

	color: #8C7A6B;
	font-weight: 700;
}

.link h5:hover {
	background-color: #5E0B15;
	border: solid 1px #5E0B15;

	color: #D9CAB3;
	text-shadow: #5E0B15;

	transition: 0.8s;
}

.enlace__tortas {
	background-image: url(../imagenes/image_index/tortas_artesanales.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: contain;

	max-height: 400px;
	padding: 2rem 4rem 2rem 0;

	display: flex;
	flex-direction: column;

	justify-items: center;
	align-content: center;

	overflow: hidden;
}

.enlace__pasteleria {
	background-image: url(../imagenes/image_index/pastelería_creativa.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: cover;

	max-height: 400px;
	padding: 2rem 4rem 2rem 0;

	overflow: hidden;

	display: flex;
	flex-direction: column;

	justify-items: center;
	align-content: center;
}

.enlace__dulce {
	background-image: url(../imagenes/image_index/mesa_dulce.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;

	max-height: 800px;
	padding: 0 2rem 0 2rem;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	overflow: hidden;
}

.enlace__lunch {
	background-image: url(../imagenes/image_index/servicio_de_luch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;

	max-height: 800px;
	padding: 0rem 2rem 0 2rem;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

/* --- PROMO --- */

.contenedor__promo {
	background-color: #5E0B15;
	padding: 2rem;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 400px 250px;

	gap: 0.5rem;

	color: #D9CAB3;
}

.contenedor__promo ul {
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.icono__promo,
.promo {
	grid-column: 1/2;
	grid-row: 1/2;
}

.icono__promo {
	width: 70%;

	align-self: flex-start;
	justify-self: center;
}

.promo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	align-self: flex-end;
}

.promo h2 {
	color: #BC8034;
	font-size: 1.8rem;
	font-weight: 900;
}

.promo h3 {
	color: #D9CAB3;
	font-size: 1.5rem;
	font-weight: 900;
	font-style: italic;
}

.promo__lista,
.promo__listado {
	grid-column: 2/3;
	grid-row: 1/2;

	display: flex;
	flex-wrap: wrap;

	color: #BC8034;
	font-size: 0.1rem;
	font-style: italic;
}

.promo__lista {
	padding: 0;
	margin: 0;

	align-self: flex-start;
}

.promo__listado {
	padding: 0;
	margin: 0;

	align-self: flex-end;
}

.promo__detalle {
	grid-column: 1/2;
	grid-row: 2/3;

	align-self: flex-end;

	color: #8C7A6B;
	font-size: 1.2rem;
}

.boton__b {
	grid-column: 2/3;
	grid-row: 2/3;

	width: 100%;

	display: flex;
	flex-wrap: wrap;

	align-self: flex-end;
	justify-content: center;
}

.boton__b h5 {
	border: solid 3px #D9CAB3;
	border-radius: 0.3rem;
	padding: 1rem;

	color: #D9CAB3;
	font-size: 1rem;
	text-align: center;
}

.boton__b h5:hover {
	border: solid 3px #BC8034;
	border-radius: 0.3rem;

	color: #BC8034;
	text-shadow: #BC8034;

	transition: 0.8s;
}

/* --- ENVIOS --- */

.contenedor__envios {
	background-color: #8C7A6B;
	padding: 1rem 2.8rem 2.5rem 2rem;

	color: #90323D;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60% 20% 20%;

	align-items: center;
	justify-items: center;

	gap: 0.5rem;
}

.contenedor__envios img {
	width: 100%;
	object-fit: contain;
}

.envios {
	grid-column: 1/2;
	grid-row: 1/2;

	line-height: 0.1rem;
}

.icono__envios {
	grid-column: 2/3;
	grid-row: 1/2;

	padding-bottom: 2rem;

	align-self: end;
	justify-self: center;
}

.envios h2 {
	color: #5E0B15;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 0.2rem;
}

.envios h3 {
	font-size: 1.2rem;
}

.envios h4 {
	color: #5E0B15;
	font-size: 0.9rem;
	font-style: italic;
}

.compra {
	grid-column: 2/3;
	grid-row: 1/2;
}

.compra h5 {
	background-color: #90323D;
	border-radius: 1rem;
	padding: 2rem 1rem;

	color: #8C7A6B;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
}

.compra h5:hover {
	background-color: #D9CAB3;
	border-radius: 1rem;

	color: #8C7A6B;
	text-shadow: #90323D;

	transition: 1.5s;
}

.icono__consulta {
	grid-column: 1/2;
	grid-row: 2/3;

	align-self: end;
	justify-self: center;
}

.consulta {
	grid-column: 2/3;
	grid-row: 3/4;
}

.consulta h5 {
	background-color: #90323D;
	border-radius: 1rem;
	padding: 0.5rem;

	color: #8C7A6B;
	font-size: 0.8rem;
	font-weight: 900;
	text-align: center;
}

.consulta h5:hover {
	background-color: #D9CAB3;
	border-radius: 1rem;

	color: #8C7A6B;
	text-shadow: #90323D;

	transition: 1.5s;
}

/* --- FOTOS SUB SECCIONES --- */

.foto__butter,
.foto__cream,
.foto__fondant,
.foto__fon,
.foto__number,
.foto__letter {
	width: 100%;
	height: 100%;

	object-fit: cover;

	transition: 0.6s ease-in-out;
}

.foto__butter:hover,
.foto__cream:hover,
.foto__fondant:hover,
.foto__fon:hover,
.foto__number:hover,
.foto__letter:hover {
	cursor: pointer;

	transform: scale(1.1);

	transition: 0.6s ease-in-out;
}

.titulo__butter,
.titulo__fondant,
.titulo__letter {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	padding: 4rem;

	align-items: center;

	color: #BC8034;
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;
}

/* --- GRILLA SECCIONES / MENU --- */

.contenedor__menu {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	margin: 0 auto;
}

.contenedor__menu li {
	display: flex;
	flex-wrap: wrap;
}

.img__menu {
	display: none;
}

.img__especial {
	display: none;
}

.texto__menu {
	margin: 2rem;

	color: #8C7A6B;
	font-family: "Lato", sans-serif;
	font-size: 0.5rem;
	font-style: italic;
	text-align: left;
	font-style: initial;
}

.titulo__menu {
	margin: 2rem;

	color: #90323D;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	text-align: left;
	font-style: initial;
}

/* ------ FOOTER ------ */

footer {
	background-color: #ffffff;
}

ol,
ul {
	padding-left: 0;
}

.contenedor_footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	padding: 6rem 0 6rem 0;

	align-items: center;

	text-align: center;
}

.contenedor_footer ul {
	padding: 0.6rem 0;

	display: flex;
	flex-direction: column;

	align-items: center;

	text-align: center;
}

.contenedor_footer li {
	padding: 0.6rem 0;

	justify-self: center;
	align-self: center;
}

.contenedor__redes {
	display: flex;
}

.contenedor__redes ul {
	display: flex;
	flex-direction: row;

	justify-content: center;

	gap: 1rem;

	text-align: center;
}


footer h6 {
	color: #BC8034;
	font-weight: 700;
	font-size: 0.8rem;
}

footer h5 {
	color: #90323D;
	font-style: italic;
	font-size: 1rem;
}



/* ------ ------ ------ ------ RESPONSIVE 720px ------ ------ ------ ------ */

@media(min-width: 720px) {

	/* ------ MAIN ------ */

	.contenedor__promo {
		padding: 4rem 4rem 4rem 6rem;
		margin: 0 auto;
	}

	.icono__promo {
		width: 45%;

		justify-self: start;
	}

	/* --- CAROUSEL --- */

	.carousel {
		width: 80vw;
		height: 680px;

		margin: 7rem auto 4rem auto;

		overflow: hidden;
	}

	.carousel img {
		width: 100%;
		height: 100%;

		object-fit: cover;

		transition: 0.6s ease-in-out;
	}

	.carousel img:hover {
		display: flex;
		cursor: pointer;

		transform: scale(1.4);

		transition: 0.6s ease-in-out;
	}

}


/* ------ ------ ------ ------ RESPONSIVE 820px ------ ------ ------ ------ */

@media(min-width: 820px) {

	/* --- NAV --- */

	.nav-item {
		max-width: 720px;
	}

	/* ------ MAIN ------ */

	/* --- FORM --- */

	form input,
	textarea {
		border: #5E0B15 solid 1px;
		border-radius: 1rem;
		box-shadow: inset 0px 0px 10px 0 #5E0B15;
		min-width: 700px;
		padding: 1.2rem;
		margin: 1rem;

		color: #BC8034;
		font-family: "Lato", sans-serif;
		font-size: 1rem;
	}

	.boton_value {
		background-color: #5E0B15;
		border-radius: 1rem;

		color: #8C7A6B;
		font-size: 1rem;
		font-weight: bold;
	}

}


/* ------ ------ ------ ------ RESPONSIVE 990px ------ ------ ------ ------ */

@media(min-width: 990px) {

	/* ------ HEADER ------ */

	/* --- NAV --- */

	.nav-item {
		background-color: #ffffff00;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		margin-left: 0;

		color: #D9CAB3;
	}
}

/* ------ ------ ------ ------ RESPONSIVE 1024px ------ ------ ------ ------ */

@media(min-width: 1024px) {

	/* ------ MAIN ------ */

	/* --- FORM --- */

	form {
		max-width: 1024px;
		padding: 6rem;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 10% 30% 20%;

		text-align: center;

		justify-content: center;
		align-items: flex-start;

		gap: 1rem;
	}

	form input,
	textarea {
		grid-column: 2/3;

		min-width: 400px;
		padding: 1rem;
		margin: 1rem;
	}

	.boton_value {
		width: 95%;
	}

	/* --- DESTACADO --- */

	.contenedor_destacado {
		padding: 6rem;

		gap: 4rem;
	}

	.titular {
		padding: 4rem 0 0 0;
	}

	.boton {
		width: 60%;

		text-align: center;

		align-self: center;
		justify-self: center;
	}

	/* --- CAROUSEL --- */

	.carousel {
		width: 60vw;
		height: 1000px;

		margin: 7rem auto 0 auto;

		overflow: hidden;
	}

	.carousel img {
		width: 100%;
		height: 100%;

		object-fit: cover;

		transition: 0.6s ease-in-out;
	}

	.carousel img:hover {
		display: flex;
		cursor: pointer;

		transform: scale(1.4);

		transition: 0.6s ease-in-out;
	}

	/* ------ GRILLA SECCIONES / PRODUCTOS ------ */

	.contenedor__productos {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 2fr 1fr 1fr 1fr;

		justify-content: space-between;

		gap: 0;
	}

	.parrafo__tortas {
		grid-column: 1/2;
		grid-row: 1/2;

		margin: 0 2rem 0;
	}

	.links__tortas {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.parrafo__pasteleria {
		grid-column: 2/3;
		grid-row: 1/2;

		margin: 0 2rem 0;
	}

	.links__pasteleria {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.parrafo__dulce {
		grid-column: 1/2;
		grid-row: 3/4;

		margin: 0 2rem 0;
	}

	.links__dulce {
		grid-column: 1/2;
		grid-row: 4/5;
	}

	.parrafo__lunch {
		grid-column: 2/3;
		grid-row: 3/4;

		margin: 0 2rem 0;
	}

	.links__lunch {
		grid-column: 2/3;
		grid-row: 4/5;
	}

	.contenedor__productos p {
		padding: 2rem 0 0 0;
	}

	.contenedor__productos h4 {
		padding: 0 2rem 0 2rem;
	}

	.parrafo h4 {
		color: #8C7A6B;
		font-size: 1.2rem;
		font-weight: 700;
		line-height: 2rem;
		text-align: center;
	}

	.subtitulo {
		min-height: 300px;
		padding: 0;
		margin: 0 4rem 3.5rem;

		font-size: 1.5rem;
		text-align: left;
	}

	.sub__titulo {
		text-align: left;

		padding: 0 2.5rem 0 0;
	}

	.link {
		padding: 0;

		align-self: flex-end;

		font-size: 1.3rem;
		font-weight: 900;
		font-style: italic;
		text-align: center;
	}

	.enlace__tortas {
		background-image: url(../imagenes/image_index/tortas_artesanales.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom left;

		width: 100%;
		max-height: 400px;
		padding: 0 0 0;

		align-self: flex-end;

		overflow: hidden;
	}

	.enlace__pasteleria {
		background-image: url(../imagenes/image_index/pastelería_creativa.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom left;

		width: 100%;
		max-height: 400px;
		padding: 0 0 0;

		align-self: flex-end;

		overflow: hidden;
	}

	.enlace__dulce {
		background-image: url(../imagenes/image_index/mesa_dulce.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;

		width: 100%;
		padding: 0 0 0;

		display: flex;
		flex-direction: row;

		justify-content: space-between;
		align-items: center;

		overflow: hidden;
	}

	.enlace__lunch {
		background-image: url(../imagenes/image_index/servicio_de_luch.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom center;

		width: 100%;
		min-height: 350px;
		padding: 0 0 0;

		display: flex;
		flex-direction: row;

		justify-content: space-between;

		overflow: hidden;
	}

	/* --- PROMO --- */

	.contenedor__promo {
		background-color: #5E0B15;
		padding: 3rem;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 2fr 2fr 1.5fr 1.5fr;
		grid-template-rows: 300px 100px;

		grid-template-areas:
			"promo lista fiestas consulta"
			"promo lista fiestas consulta";

		justify-self: center;

		gap: 0.5rem;

		color: #D9CAB3;
	}

	.icono__promo {
		grid-column: 1/2;
		grid-row: 1/2;

		width: 40%;

		align-self: flex-start;
		justify-self: start;
	}

	.promo {
		grid-column: 1/2;
		grid-row: 2/3;

		align-self: flex-end;

		letter-spacing: 0.1rem;
	}

	.promo h2 {
		color: #BC8034;
		font-size: 1.8rem;
		font-weight: 900;
	}

	.promo h3 {
		color: #D9CAB3;
		font-size: 1.5rem;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0.5rem;
	}

	.promo__lista,
	.promo__listado {
		color: #BC8034;
		font-size: 1.2rem;
		font-style: italic;
		line-height: 1.6rem;
	}

	.promo__lista {
		grid-column: 2/3;
		grid-row: 1/2;

		align-self: start;
	}

	.promo__listado {
		grid-column: 2/3;
		grid-row: 2/3;

		padding: 6rem 0 0;

		align-self: end;
	}

	.promo__detalle {
		grid-area: fiestas;

		align-self: center;

		color: #8C7A6B;
		font-size: 1.2rem;
	}

	.boton__b {
		grid-area: consulta;

		width: 100%;

		align-self: flex-end;

		text-align: center;
	}

	.boton__b h5 {
		border: solid 3px #D9CAB3;
		border-radius: 0.3rem;

		padding: 1rem 1.5rem 1rem;

		color: #D9CAB3;
		font-size: 1.2rem;
	}

	.boton__b h5:hover {
		border: solid 3px #BC8034;
		border-radius: 0.3rem;

		color: #BC8034;
		text-shadow: #BC8034;

		transition: 0.8s;
	}

	/* --- ENVIOS --- */

	.contenedor__envios {
		background-color: #8C7A6B;
		padding: 4rem;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 60% 20% 20%;

		align-items: start;
		justify-items: start;

		gap: 0.5rem;

		color: #90323D;
	}

	.contenedor__envios img {
		width: 100%;
		object-fit: contain;
	}

	.envios {
		grid-column: 1/2;
		grid-row: 1/2;

		justify-self: start;
		line-height: 0.1rem;
	}

	.icono__envios {
		grid-column: 2/3;
		grid-row: 1/2;

		align-self: end;
		justify-self: center;
	}

	.envios h2 {
		color: #5E0B15;
		font-weight: 700;
		font-size: 3.5rem;
		letter-spacing: 1.5rem;
	}

	.envios h3 {
		font-size: 3rem;
	}

	.envios h4 {
		color: #5E0B15;
		font-size: 2.2rem;
		font-style: italic;
	}

	.compra {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.compra h5 {
		background-color: #90323D;
		border-radius: 1rem;
		padding: 2rem 8.5rem;

		color: #8C7A6B;
		font-size: 1.8rem;
		font-weight: 900;
		text-align: center;
	}

	.icono__consulta {
		grid-column: 1/2;
		grid-row: 2/3;

		align-self: end;
		justify-self: center;
	}

	.consulta {
		grid-column: 2/3;
		grid-row: 3/4;
	}

	.consulta h5 {
		background-color: #90323D;
		border-radius: 1rem;
		padding: 1.5rem 12rem;

		color: #8C7A6B;
		font-size: 1rem;
		font-weight: 900;
		text-align: center;
	}

	/* --- GRILLA SECCIONES / MENU --- */

	.contenedor__menu {
		width: 100%;
		padding-right: 2rem;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		justify-content: space-between;
		align-items: center;
	}

	.contenedor__menu h5 {
		width: 650px;
	}

	.contenedor__menu img {
		display: flex;

		width: 180px;
		height: 180px;

		object-fit: cover;

		transition: 0.4s ease-in-out;

		z-index: 1;
	}

	.img__menu:hover {
		display: flex;
		cursor: pointer;

		transform: scale(1.5);

		transition: 0.4s ease-in-out;

		z-index: 1;
	}

	/* ------ FOOTER ------ */

	.contenedor_footer {
		max-width: 1200px;
		max-height: 800px;
		padding-left: 2rem;
		
		display: grid;
		grid-template-columns: 1fr 2fr 1fr 2fr;
		grid-template-rows: 90% 10%;

		justify-content: space-between;
		align-content: center;

		grid-template-areas:
			"datos datos datos datos"
			"redes redes redes redes";
	}

	.whatsapp {
		display: flex;
		flex-direction: row;

		justify-self: center;
		align-self: flex-start;
	}

	.mail {
		display: flex;
		flex-direction: row;

		justify-self: center;
		align-self: flex-start;
	}

	.ubicacion {
		display: flex;
		flex-direction: row;

		justify-self: center;
		align-self: flex-start;
	}

	.horario {
		display: flex;
		flex-direction: row;

		justify-self: center;
		align-self: flex-start;
	}

	.contenedor__redes {
		grid-area: redes;

		margin-top: 0;
		margin-bottom: 8rem;

		display: flex;
		flex-direction: row;

		justify-self: center;
		align-self: center;
	}

}


/* ------ ------ ------ ------ RESPONSIVE 1200px ------ ------ ------ ------ */

@media (min-width: 1200px) {

	/* ------ MAIN ------ */

	/* --- FORM --- */

	form {
		max-width: 1200px;
		padding: 4rem;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 10% 50% 40%;

		text-align: center;

		justify-content: center;
		align-items: flex-start;

		gap: 2rem;
	}

	form input,
	textarea {
		grid-column: 2/3;

		min-width: 500px;
		padding: 1rem;
		margin: 1rem;
	}

	.boton_value {
		width: 95%;
	}

	/* --- DESTACADO --- */

	.contenedor__destacado {
		padding: 2.5rem 2rem 4.5rem;

		gap: 0.5rem;
	}

	.titular {
		margin: 0 0 6rem 0;
	}

	/* --- CAROUSEL --- */

	.carousel {
		width: 60vw;
		height: 1000px;

		margin: 4rem auto 5rem auto;

		overflow: hidden;
	}

	.carousel img {
		width: 100%;
		height: 100%;

		object-fit: cover;

		transition: 0.6s ease-in-out;
	}

	.carousel img:hover {
		display: flex;
		cursor: pointer;

		transform: scale(1.4);

		transition: 0.6s ease-in-out;
	}

	/* --- GRILLA SECCIONES / PRODUCTOS --- */

	.contenedor__productos {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 70% 30%;

		max-width: 1024;
		padding: 0;
		margin: 0;

		align-items: flex-start;
	}

	.enlace__pasteleria,
	.enlace__tortas {
		width: 100%;
		background-position: bottom left;

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		align-content: flex-end;
	}

	.enlace__dulce,
	.enlace__lunch {
		width: 100%;

		background-position: bottom;

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		align-self: flex-end;
	}

	.subtitulo {
		min-height: 60px;
		padding: 0 1.5rem 0 0;

		align-self: flex-end;

		text-align: left;
	}

	.subtitulo h2 {
		font-size: 1.3rem;
	}

	.sub__titulo {
		min-height: 130px;
		padding: 0 1rem 0 0;
		margin: 0;

		text-align: right;
	}

	.sub__titulo h2 {
		font-size: 1.3rem;
	}

	.link {
		width: 10%;
		padding: 2rem 4rem;
		margin: 0;

		align-self: flex-end;
		justify-content: center;
	}

	.parrafo__tortas {
		grid-column: 1/2;
		grid-row: 1/2;

		padding: 0;
		margin: 0;
	}

	.links__tortas {
		grid-column: 1/2;
		grid-row: 2/3;

		padding: 0;
		margin: 0;
	}

	.parrafo__pasteleria {
		grid-column: 2/3;
		grid-row: 1/2;

		padding: 0;
		margin: 0;
	}

	.links__pasteleria {
		grid-column: 2/3;
		grid-row: 2/3;

		padding: 0;
		margin: 0;
	}

	.parrafo__dulce {
		grid-column: 3/4;
		grid-row: 1/2;

		padding: 0;
		margin: 0;
	}

	.links__dulce {
		grid-column: 3/4;
		grid-row: 2/3;

		padding: 0;
		margin: 0;
	}

	.parrafo__lunch {
		grid-column: 4/5;
		grid-row: 1/2;

		padding: 0;
		margin: 0;
	}

	.links__lunch {
		grid-column: 4/5;
		grid-row: 2/3;

		padding: 0;
		margin: 0;
	}

	.contenedor__productos p {
		padding: 0;
		margin: 0;
	}

	.contenedor__productos h4 {
		padding: 0;
		margin: 0;
	}

	.parrafo h4 {
		padding: 0 1rem 0 1rem;
		margin: 0;

		color: #8C7A6B;
		font-size: 1.2rem;
		font-weight: 700;
		line-height: 2rem;
		text-align: center;

		align-items: flex-start;
	}

	/* --- PROMO --- */

	.contenedor__promo {
		padding: 4rem;
	}

	.icono__promo {
		width: 35%;
	}

	/* --- ENVIOS --- */

	.contenedor__envios {
		background-color: #8C7A6B;
		padding: 3rem;

		color: #90323D;

		display: grid;
		grid-template-columns: 1.5fr 2fr;
		grid-template-rows: 150px 100px;

		gap: 3rem;
	}

	.icono__envios,
	.envios {
		grid-column: 1/2;
		grid-row: 1/2;

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.icono__envios {
		width: auto;
		padding: 0 0 1rem;

		align-self: start;
		justify-self: end;
	}

	.envios {
		align-self: flex-start;
	}

	.envios h2 {
		color: #5E0B15;
		font-weight: 900;
		font-size: 2rem;
	}

	.envios h3 {
		font-size: 2rem;
	}

	.envios h4 {
		font-size: 1.5rem;
	}

	.compra {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.icono__consulta {
		grid-column: 1/2;
		grid-row: 2/3;

		width: auto;

		align-self: center;
		justify-self: end;
	}

	.consulta {
		grid-column: 2/3;
		grid-row: 2/3;

		justify-self: end;
	}

	/* --- ENVIOS --- */

	.envios h2 {
		font-size: 2.5rem;
	}

	.envios h3 {
		font-size: 2.4rem;
	}

	.envios h4 {
		font-size: 1.8rem;
	}

	.compra h5 {
		padding: 2rem 15rem;
	}

	.consulta h5 {
		padding: 1.5rem 15rem;
	}

	/* --- GRILLA SECCIONES / SOBRE MI --- */

	.contenedor__grilla {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 90vh 85vh 85vh;

		max-width: 1200px;
		padding: 10rem 0 10rem 0;
		margin: 0 auto;

		justify-content: center;
	}

	.datos {
		padding: 0.5rem 1rem;
	}

	.titulo {
		padding: 0;
	}

	.inter {
		line-height: 1rem;
	}

	.izquierda h4,
	.izquierda h5 {
		text-align: left;
	}

	.derecha h5 {
		text-align: right;
	}

	.primer__foto {
		grid-column: 1/2;
		grid-row: 1/2;

		width: 100%;
		height: auto;
	}

	.primer__texto {
		grid-column: 2/3;
		grid-row: 1/2;

		align-self: center;
	}

	.segunda__foto {
		grid-column: 2/3;
		grid-row: 2/3;

		width: 100%;
		height: auto;
	}

	.segundo__texto {
		grid-column: 1/2;
		grid-row: 2/3;

		align-self: center;

		padding: 0 1.5rem 0 0;
	}

	.tercer__foto {
		grid-column: 1/2;
		grid-row: 3/4;

		width: 100%;
		height: auto;
	}

	.tercer__texto {
		grid-column: 2/3;
		grid-row: 3/4;

		align-self: center;

		padding: 4rem 0 0 1.5rem;
	}

	/* --- GRILLA SECCIONES / TORTAS --- */

	.contenedor__datos {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 15% 10% 15% 35% 25%;

		max-width: 1200px;
		padding: 10rem 0 0 0;
		margin: 0 auto;

		align-items: flex-start;
		justify-content: center;
	}

	.foto__butter {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.foto__cream {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.foto__fondant {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.foto__fon {
		grid-column: 2/3;
		grid-row: 3/4;
	}

	.foto__letter {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.foto__number {
		grid-column: 3/4;
		grid-row: 3/4;
	}

	.titulo__butter {
		grid-column: 1/2;
		grid-row: 2/3;

		align-self: center;
	}

	.titulo__fondant {
		grid-column: 2/3;
		grid-row: 2/3;

		align-self: center;
	}

	.titulo__letter {
		grid-column: 3/4;
		grid-row: 2/3;

		align-self: center;
	}

	.butter {
		grid-column: 1/2;
		grid-row: 4/5;
	}

	.butter__lista {
		grid-column: 1/2;
		grid-row: 5/6;
	}

	.fondant {
		grid-column: 2/3;
		grid-row: 4/5;
	}

	.fondant__lista {
		grid-column: 2/3;
		grid-row: 5/6;
	}

	.letter {
		grid-column: 3/4;
		grid-row: 4/5;
	}

	.letter__lista {
		grid-column: 3/4;
		grid-row: 5/6;
	}

	/* --- GRILLA SECCIONES / MENU --- */

	.contenedor__menu {
		max-width: 1980px;
		padding-right: 2rem;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		justify-content: space-between;
		align-items: center;
	}

	.contenedor__menu h5 {
		width: 600px;
	}

	.contenedor__menu img {
		display: flex;

		width: 180px;
		height: 180px;

		object-fit: cover;

		transition: 0.4s ease-in-out;

		z-index: 1;
	}

	.img__menu:hover {
		display: flex;
		cursor: pointer;

		transform: scale(1.5);

		transition: 0.4s ease-in-out;

		z-index: 1;
	}
}