/*--- VARIABLES ---*/
/*--- COLORES ---*/
$principalcolor: #5e0b15;
$secundarycolor: #90323d;
$terciarycolor: #bc8034;
$ligthcolor: #8c7a6b;
$ultraligthcolor: #d9cab3;

/*--- TIPOGRAFÍAS ---*/
// FONT FAMILIES //
$principalfont: "Lato", sans-serif;
$decorativefont: "Corinthia", cursive;

//DESTACADOS TIPOGRAFÍAS//
:root {
    --font-weight: 700;
    --font-style: italic;
    --color: #bc8034;
}

/*--- TEMPLATES ---*/
//DETALLES PARA TIPOGRAFIAS//
%template__detalle {
    font-style: italic;
    font-weight: 700;
}

%template__enfasis {
    color: $terciarycolor;
    font-weight: 900;
}

/*--- MIXINS ---*/
/*--- SOMBRAS ---*/
//SOMBRAS PARA CONTENEDORES//
@mixin shadow_inset ($px) {
    box-shadow: inset $px $px $px $px rgba(0, 0, 0, 0.5);
}

@mixin shadow ($px) {
    box-shadow: $px $px $px $px rgba(0, 0, 0, 0.5);
}

//SOMBRAS PARA TEXTO//
@mixin text_shadow ($px) {
    text-shadow: $px $px $px rgba(0, 0, 0, 0.5);
}

@mixin text_shadow_clear {
    text-shadow: 1px 1px 1.5px rgba(255, 255, 255, 0.651);
}

/*--- ALINEACIONES Y JUSTIFICACIONES ---*/
//CENTRAR TODO//
@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

//EJE COLUMNA//
@mixin flexbox-column($justify, $align) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: $justify;
    align-content: $align;
}

/*--- H1 PAGES / SECCIONES ---*/
@mixin h1 {
    padding-top: 2rem;
    margin: 0;

    color: $principalcolor;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-align: center;
}

/*--- TEXTOS SOBRE FONDOS ALTERNATIVOS ---*/
@mixin color-texto($bg) {
    background-color: $bg;

    @if (lightness($bg) > 50) {
        color: $principalcolor;
    }

    @else {
        color: $ultraligthcolor;
    }
}

/*--- MIXINS MEDIA QUERIES / RESPONSIVE ---*/
//--- RESPONSIVE 420px ---//
@mixin md-420 {
    @media(min-width: 420px) {
        @content;
    }
}

//--- RESPONSIVE 480px ---//
@mixin md-480 {
    @media(min-width: 480px) {
        @content;
    }
}

//--- RESPONSIVE 520px ---//
@mixin md-520 {
    @media(min-width: 520px) {
        @content;
    }
}

//--- RESPONSIVE 620px ---//
@mixin md-620 {
    @media(min-width: 620px) {
        @content;
    }
}

//--- RESPONSIVE 768px ---//
@mixin md-768 {
    @media(min-width: 768px) {
        @content;
    }
}

//--- RESPONSIVE 820px ---//
@mixin md-820 {
    @media(min-width: 820px) {
        @content;
    }
}

//--- RESPONSIVE 1000px ---//
@mixin md-1000 {
    @media(min-width: 1000px) {
        @content;
    }
}

//--- RESPONSIVE 1024px ---//
@mixin md-1024 {
    @media(min-width: 1024px) {
        @content;
    }
}

//--- RESPONSIVE 1200px ---//
@mixin md-1200 {
    @media(min-width: 1200px) {
        @content;
    }
}

/*---KEYFRAMES ---*/
@keyframes rebotarLugar {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(0%) translateY(15%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes rebotarDesplazo {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(10%) translateY(70%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes subir {
    0% {
        transform: translateY(0%);
    }

    15% {
        transform: translateY(10%);
    }

    25% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(-35deg);
    }

    75% {
        transform: translateY(-10%);
    }

    50% {
        transform: rotate(35deg);
    }

    25% {
        transform: rotate(-35deg);
    }

    15% {
        transform: translateY(-10%);
    }

    0% {
        transform: translateY(0%);
    }

}

@keyframes caminar {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(1000%);
    }
}

@keyframes caminarIzq {
    0% {
        transform: translateX(-1000%);
    }

    25% {
        transform: translateX(900%) rotate(360deg);
    }

    50% {
        transform: translateX(500%) rotate(-360deg);
    }

    75% {
        transform: translateX(900%) rotate(360deg);
    }

    100% {
        transform: translateX(3000%);
    }
}

@keyframes rotarDesplazoIzq {
    0% {
        transform: translateX(-1000%);
    }

    25% {
        transform: translateX(100%) rotate(360deg);
    }

    50% {
        transform: translateX(50%) rotate(-360deg);
    }

    100% {
        transform: translateX(0%) rotate(360deg);
    }
}

@keyframes rotarDesplazoDer {
    0% {
        transform: translateX(1000%);
    }

    25% {
        transform: translateX(-100%) rotate(-360deg);
    }

    50% {
        transform: translateX(-50%) rotate(360deg);
    }

    100% {
        transform: translateX(0%) rotate(-360deg);
    }
}

@keyframes ampliar {
    from {
        transform: translateX(20%) translateY(20%);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes cambio__borde {
    0% {
        -webkit-text-stroke-color: $terciarycolor;
    }

    50% {
        -webkit-text-stroke-color: $secundarycolor;
    }

    100% {
        -webkit-text-stroke-color: $principalcolor;
    }
}

@keyframes cambio__color {
    0% {
        color: $ultraligthcolor;
    }

    50% {
        color: $terciarycolor;
    }

    100% {
        color: $secundarycolor;
        transform: scale(1.2);
    }
}

@keyframes cambiarUltraligth {
    from {
        color: #ffffff00;
    }

    to {
        color: $ultraligthcolor;
    }
}

@keyframes cambiarTerciary {
    from {
        color: #ffffff00;
    }

    to {
        color: $terciarycolor;
    }
}

@keyframes sacudir__vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

@keyframes sacudir__horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

@keyframes latido {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes rotar {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

//PARA IMÁGENES CAROUSEL//
@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// --- --- --- //

/*--- RESET ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $principalfont;
}

a {
    text-decoration: none;
    text-transform: bold;
    color: $ultraligthcolor;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    @extend ol;
}

img {
    max-width: 100%;
}

hr {
    border: solid 1.5px $principalcolor;
    border-radius: 0.3rem;
    width: 95%;
    margin: 3rem auto;

    z-index: 2;
}

/*--- BODY ---*/
body {
    background-color: #ffffff;
    max-width: 1980px;
    margin: 0 auto;

    @include flex-center;
}

/*--- MAIN ---*/
main {
    background-color: #ffffff;
    max-width: 1980px;
    margin: 0 auto;

    .contenedor_main {
        max-width: 1200px;

        @include flex-center;

        align-items: center;
    }
}

/*--- CLASES QUE SE REUTILIZAN EN LAS DIFERENTES PAGES ---*/
/*--- elementos no infinitos ---*/
//CLASE CONTENEDOR//
.contenedor {
    min-width: 350px;
    max-width: 1200px;
    margin: 0 auto;
}

//TEXTOS / PÁRRAFOS//
.parrafo {
    padding: 1rem 2rem;

    @include md-1000 {
        padding: 0;
    }

    & h2 {
        padding: 0 1rem;
        margin-bottom: 0;

        color: $terciarycolor;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 500;
        line-height: 2.1rem;
        text-align: center;
        hyphens: auto;
    }

    & h3 {
        margin-bottom: 0;

        color: $principalcolor;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: justify;
        hyphens: auto;
    }

    & h4 {
        margin-bottom: 0;

        color: $ligthcolor;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7rem;
        text-align: justify;
        hyphens: auto;

        .destacado {
            font-weight: var(--font-weight);
            font-style: var(--font-style);
            color: var(--color);
        }
    }

    & h5 {
        margin-bottom: 0;

        color: $secundarycolor;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: center;
        hyphens: auto;
    }
}