//--- VARIABLES ---//

//COLORES//
$principalcolor: #5e0b15;
$secundarycolor: #90323d;
$terciarycolor: #bc8034;
$ligthcolor: #8c7a6b;
$ultraligthcolor: #d9cab3;

//--- TIPOGRAFÍAS ---//
/*FONT FAMILIES*/
$principalfont: "Lato", sans-serif;
$decorativefont: "Corinthia", cursive;

//MAPS//
$colores: (
    canela: #5e0b15,
    chocolate: #90323d,
    miel:#bc8034,
    anis: #8c7a6b,
    azucar: #d9cab3,
);

//GENERACIÓN DE COLORES CON CICLOS DE REPETICIÓN//
@each $ingrediente, $color in $colores {
    .color-#{$ingrediente} {
        color: #{$color};
    }
}

//--- TEMPLATES ---//
//DETALLES PARA TIPOGRAFIAS//
%template__detalle {
    font-style: italic;
    font-weight: 700;
}

%template__enfasis {
    color: #bc8034;
    font-weight: 900;
}

//--- elementos no infinitos ---//
//CLASE CONTENEDOR//
.contenedor {
    max-width: 1980px;
    margin: 0 auto;
}

//MIXINS Y MEDIA QUERIES//
//SOMBRAS//
@mixin shadow_inset ($px) {
    box-shadow: inset $px $px $px rgba(0, 0, 0, 0.5);
}

@mixin shadow ($px) {
    box-shadow: $px $px $px rgba(0, 0, 0, 0.5);
}

@mixin text_shadow ($px) {
    text-shadow: $px $px $px rgba(0, 0, 0, 0.5);
}

@mixin text_shadow_clear {
    text-shadow: 1.5px 2px 1.5px rgb(255, 255, 255);
}

//ALINEACIONES Y JUSTIFICACIONES//
//CENTRAR TODO//
@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

//EJE COLUMNA//
@mixin flexbox-column($justify, $align) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: $justify;
    align-content: $align;
}

//H1//
@mixin h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 0.3rem;
    color: $principalcolor;
    @include text_shadow (2px);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

//TEXTOS SOBRE FONDOS ALTERNATIVOS//
@mixin color-texto($bg) {
    background-color: $bg;

    @if (lightness($bg) > 50) {
        color: $principalcolor;
    }

    @else {
        color: $ultraligthcolor
    }
}

//RESPONSIVES//
//--- RESPONSIVE 420px ---//
@mixin md-420 {
    @media(min-width: 420px) {
        @content;
    }
}

//--- RESPONSIVE 480px ---//
@mixin md-480 {
    @media(min-width: 480px) {
        @content;
    }
}

//--- RESPONSIVE 520px ---//
@mixin md-520 {
    @media(min-width: 520px) {
        @content;
    }
}

//--- RESPONSIVE 620px ---//
@mixin md-620 {
    @media(min-width: 620px) {
        @content;
    }
}

//--- RESPONSIVE 720px ---//
@mixin md-768 {
    @media(min-width: 768px) {
        @content;
    }
}

//--- RESPONSIVE 820px ---//
@mixin md-820 {
    @media(min-width: 820px) {
        @content;
    }
}

//--- RESPONSIVE 1000px ---//
@mixin md-1000 {
    @media(min-width: 1000px) {
        @content;
    }
}

//--- RESPONSIVE 1024px ---//
@mixin md-1024 {
    @media(min-width: 1024px) {
        @content;
    }
}

//--- RESPONSIVE 1200px ---//
@mixin md-1200 {
    @media(min-width: 1200px) {
        @content;
    }
}

//KEYFRAMES//
@keyframes rebotarLugar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(0%) translateY(15%);
    }
}

@keyframes rebotarDesplazo {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(10%) translateY(70%);
    }
}

@keyframes ampliar {
    from {
        transform: translateX(20%) translateY(20%);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes cambio__borde {
    0% {
        -webkit-text-stroke-color: #bc8034;
    }

    50% {
        -webkit-text-stroke-color: #90323d;
    }

    100% {
        -webkit-text-stroke-color: #5e0b15;
    }
}

@keyframes cambio__color {
    0% {
        color: #d9cab3;
    }

    50% {
        color: #bc8034;
    }

    100% {
        color: #90323d;
        transform: scale(1.2);
    }
}

@keyframes cambiarUltraligth {
    from {
        color: #ffffff00;
    }

    to {
        color: $ultraligthcolor;
    }
}

@keyframes cambiarTerciary {
    from {
        color: #ffffff00;
    }

    to {
        color: $terciarycolor;
    }
}

// --- --- --- //
/* ------ RESET ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $principalfont;
}

a {
    text-decoration: none;
    text-transform: bold;
    color: $ultraligthcolor;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

hr {
    border: solid 1.5px $principalcolor;
    border-radius: 0.3rem;
    width: 95%;
    margin: 2rem auto;

    z-index: 2;
}

/* ------ BODY ------ */
body {
    background-color: #ffffff;
    max-width: 1980px;
    margin: 0 auto;

    @include flex-center;
}

/* ------ MAIN ------ */
main {
    background-color: #ffffff;
    max-width: 1980px;
    margin: 0 auto;

    .contenedor_main {
        max-width: 1200px;

        @include flex-center;

        align-items: center;
    }
}

//--- CLASES QUE SE REUTILIZAN EN LAS DIFERENTES PAGES ---//
//TEXTOS / PÁRRAFOS//
.parrafo {
    padding: 1rem 2rem;

    & h2 {
        color: $terciarycolor;
        font-size: 1rem;
        font-style: italic;
        font-weight: 600;
        line-height: 2rem;
        text-align: center;

        margin-bottom: 0;

        @include color-texto($principalcolor);

        @include md-1000 {
            @include color-texto($ultraligthcolor);
        }
    }

    & h3 {
        color: $principalcolor;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.2;
        text-align: initial;

        margin-bottom: 0;
    }

    & h4 {
        color: $ligthcolor;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;

        margin-bottom: 0;
    }

    & h5 {
        color: $secundarycolor;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: center;

        margin-bottom: 0;
    }
}

//HEADER PARA PAGES / SECCIONES//
.contenedor__seccion {
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    padding: 0 2rem;

    @include flex-center;
    flex-direction: column;

    color: $principalcolor;
    text-align: center;

    & h1 {
        @include h1;
    }

    & h2 {
        color: $principalcolor;
        font-size: 1.3rem;
        font-weight: 900;
        text-align: center;
    }

    & img {
        width: 50px;
    }
}

//DESCRIPCION DE CADA UNA DE LAS PAGES / SECCIONES//
.descripcion__seccion {
    background-color: #ffffff;
    width: 100%;
    height: 250px;
    padding: 0 4rem;

    @include flex-center;

    line-height: 0.5rem;

    gap: 1rem;

    & h3 {
        color: $secundarycolor;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
    }

    & h4 {
        color: $terciarycolor;
        font-size: 1.2rem;
        font-style: italic;
        text-align: center;
    }
}

//ANIMACIONES PARA ÍCONOS DE SECCIONES//
.animation__icon {
    margin-bottom: 1rem;

    animation-name: rebotarLugar;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}