//--- BOTONES ---//
//BOTÓN SÓLO CONTORNO//
.boton_outline {
    & h5 {
        color: $ligthcolor;
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 0.2rem;
        text-align: center;

        padding: 1rem 1.3rem;
        margin-bottom: 0;
        border: 0.1rem;
        border-radius: 10px 100px / 120px;
        @include shadow (4px);

        transition: all 0.6s ease-in-out;

        &:hover {
            background-color: $ligthcolor;
            @include shadow_inset(2px);

            color: $ultraligthcolor;
            @include text_shadow (1.5px);

            transition: all 0.6s ease-in-out;
        }
    }
}

//BOTÓN CON FONDO PLENO OSCURO//
.boton {
    & h5 {
        color: $ligthcolor;
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 0.2rem;
        text-align: center;

        padding: 1rem 1.3rem;
        margin-bottom: 0;
        background-color: $ultraligthcolor;
        border-radius: 10px 100px / 120px;
        @include shadow (3px);

        transition: all 0.8s ease-in-out;

        &:hover {
            background-color: $principalcolor;
            @include shadow_inset(2px);

            color: $terciarycolor;
            @include text_shadow (1.5px);

            transform: scale(1.2);
            transition: all 0.8s ease-in-out;
        }
    }
}