/*--- CAROUSEL ---*/
/*--- CAROUSEL INDEX ---*/
.carousel {
    width: 260px;
    height: 300px;
    border-radius: 6rem 1rem;
    border-top: solid 2px $ligthcolor;
    border-bottom: double 4px $principalcolor;
    padding: 0.5rem;
    margin: 0 auto;

    object-fit: cover;
    overflow: hidden;

    animation: aparecer 1s cubic-bezier(0.390, 0.575, 0.565, 1.000);

    @include md-768 {
        width: 280px;
        height: 380px;
    }

    .carousel-item {
        width: 100%;
        height: 100%;
        border-radius: 6rem 1rem;

        object-fit: cover;
        overflow: hidden;

        filter: sepia(50%), contrast(80%);

        animation: aparecer 2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }
}

/*--- CAROUSEL PAGE / SECCIÓN SOBRE MÍ ---*/
.carousel__sobre {
    width: 320px;
    height: 220px;
    border-radius: 1rem;
    border-top: dotted 6px $terciarycolor;
    border-bottom: solid 10px $principalcolor;
    padding: 1rem 0 0 0;
    margin: 4rem auto;

    object-fit: cover;
    overflow: hidden;

    animation: aparecer 1s cubic-bezier(0.390, 0.575, 0.565, 1.000);

    @include md-480 {
        width: 400px;
        height: 250px;
    }

    @include md-620 {
        width: 460px;
        height: 250px;
    }

    @include md-768 {
        width: 500px;
        height: 340px;
    }

    @include md-1024 {
        width: 560px;
        height: 380px;
    }

    .carousel-item {
        width: 100%;
        height: 100%;
        border-radius: 1rem;

        object-fit: cover;
        overflow: hidden;

        filter: sepia(50%), contrast(30%);

        animation: aparecer 2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }
}

/*--- CAROUSEL PAGE / SUBSECCIÓN SERVICIO DE LUNCH ---*/
.carousel__lunch {
    @extend .carousel__sobre;
    width: 280px;
    height: 200px;
    border-radius: 10% 40% / 50% 20%;
    border-top: none;
    border-bottom: double 10px $albahaca;

    @include md-420 {
        width: 320px;
        height: 230px;
    }

    @include md-480 {
        width: 420px;
        height: 280px;
    }

    @include md-620 {
        width: 560px;
        height: 320px;
    }

    @include md-768 {
        width: 600px;
        height: 380px;
    }

    @include md-820 {
        width: 650px;
        height: 460px;
    }

    @include md-1024 {
        width: 620px;
        height: 400px;

        position: absolute;
        left: auto;
        right: auto;
        top: 0;
        bottom: 0;

        grid-column: 1 span 4;
        grid-area: 4/5;
    }

    @include md-1200 {
        width: 640px;
        height: 420px;
    }
}