/*--- FOOTER ---*/
footer {
    background-color: #ffffff;
    padding: 4rem 0 6rem 0;

    @include flex-center;
    flex-direction: column;

    @include md-1000 {
        .contenedor__footer {
            max-width: 980px;
            height: 200px;
            padding: 2rem;

            @include flex-center;
            flex-direction: row;

            align-items: first baseline;
            justify-content: space-evenly;

            gap: 4rem;
        }
    }

    @include md-1200 {
        .contenedor__footer {
            max-width: 1024px;
            height: 200px;
            padding: 2rem;

            @include flex-center;
            flex-direction: row;

            align-items: first baseline;
            justify-content: space-evenly;

            gap: 6rem;
        }
    }

    & h2 {
        padding-bottom: 0.2rem;
        
        color: $terciarycolor;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        line-height: 0.4rem;
        text-align: center;
    }

    & h3 {
        color: $secundarycolor;
        font-style: italic;
        font-size: 0.65rem;
        font-weight: 700;
        letter-spacing: 0.05rem;
        line-height: 0.2rem;
        text-align: center;
    }

    & ul {
        padding: 0.8rem 0;
        justify-self: center;
    }

    & li {
        padding: 0.6rem 0;

        @include flexbox-column (center, center);

        align-items: center;
        justify-content: center;
    }

    //ÍCONOS DEL FOOTER//
    & .icon {
        width: 1.8em;
        height: 1.8em;

        display: flex;

        align-items: center;
        justify-content: center;
    }

    /*--- REDES SOCIALES ---*/
    .contenedor__redes {
        width: 100%;
        height: 100px;

        @include flex-center;

        & ul {
            display: flex;
            flex-direction: row;

            justify-content: center;

            gap: 1rem;

            text-align: center;

            .ired {
                width: 2.8em;

                transition: 0.4s ease-in-out;

                &:hover {
                    transition: 0.8s ease-in-out;
                    transform: rotate(360deg);
                }
            }
        }
    }
}