/*--- HEADER > LOGO > NAV ---*/
header {
    max-width: 1980px;
    margin: 0 auto;

    z-index: 1;

    /*--- LOGO ---*/
    .logo {
        max-width: 60%;

        transition: 0.8s ease;

        &:hover {
            transition: 1.2s ease;
            transform: rotate(360deg);
        }
    }

    /*--- NAV ---*/
    .navbar-nav {
        background: $principalcolor;
        background: radial-gradient(circle, rgba(94, 11, 21, 1) 0%, rgba(94, 11, 21, 0.7287289915966386) 100%);
        box-shadow: 0px 10px 10px -5px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        border-radius: 0 0 15% 50%;

        padding: 2rem;
        margin-top: 2rem;

        gap: 1rem;

        @include md-1000 {
            background: #00000000;
            @include shadow (0px);
            margin-top: 0;
        }
    }

    .navbar-seccion {
        @extend .navbar-nav;
        background-color: $principalcolor;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .container {
        @extend .navbar;
    }

    .navbar-toggler-icon {
        color: $ultraligthcolor;
    }

    .nav-item {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        padding-right: 0.5rem;

        gap: 1rem;

        color: $ligthcolor;
        font-size: 1rem;
        text-align: right;
    }

    .nav-link {
        background-color: rgba(0, 0, 0, 0);

        color: $ultraligthcolor;
        font-size: 1rem;
        font-weight: 700;

        transition: color font-size font-weight 0.4s ease-in-out;

        &:hover {
            color: $terciarycolor;
            font-weight: 900;
            text-shadow: 3px 3px 3px #0000009c;

            transition: color font-size font-weight 0.1s ease-in-out;
        }
    }

    .navbar .a {
        color: $ligthcolor;
    }

    .navbar-toggler {
        color: $ligthcolor;
        @include shadow(2px);

        transition: color 0.4s ease-in-out;
    }

    [data-bs-theme="dark"] {
        --bs-body-bg: none;
        --bs-border-color-translucent: none;
    }

    //--- NAV > MENU DESPLEGABLE ---//
    .dropdown-menu {
        background-color: #00000000;
        border-radius: 50% 20% / 10% 40%;
        padding: 2rem;

        transition: background-color 0.6s ease-in-out;

        @include md-1000 {
            background-color: $principalcolor;
            box-shadow: 0px 5px 5px -5px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
            border-radius: 5% 10% 40% 5%;
            width: 250px;
        }

        &:hover {
            color: $terciarycolor;

            transition: background-color 1s ease-in-out;
        }
    }

    .dropdown-item {
        color: $ligthcolor;
        font-size: 1rem;
        font-weight: 700;
        text-align: right;

        transition: color font-size font-weight 0.6s ease;

        @include md-1000 {
            padding: 0 1rem 0 0;
            text-align: left;
        }
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        background-color: #00000000;
        border-radius: 50% 20% / 10% 40%;

        color: $terciarycolor;
        text-shadow: 1px 1px 1px #000000;
        font-style: italic;
        font-weight: 900;

        transition: color font-style font-weight text-shadow 1s ease;
    }
}