/* ------ BODY > HEADER > NAV ------ */
header {
    max-width: 1980px;
    margin: 0 auto;

    z-index: 1;

    .logo {
        max-width: 60%;
    }

    //--- NAV ---//
    .navbar-nav {
        background-color: $principalcolor;
        border-radius: 0 0 15% 50%;

        padding: 2rem;
        margin-top: 2rem;

        gap: 1rem;

        @include md-1000 {
            background-color: #00000000;
            margin-top: 0;
        }
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .container {
        @extend .navbar
    }

    .navbar-toggler-icon {
        color: $ultraligthcolor;
    }

    .nav-item {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        padding-right: 0.5rem;

        gap: 1rem;

        color: $ligthcolor;
        font-size: 1rem;
        text-align: right;
    }

    .nav-link {
        background-color: rgba(0, 0, 0, 0);
        color: $ultraligthcolor;
        font-size: 1.2rem;
        font-weight: 900;

        &:hover {
            color: $terciarycolor;
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
            font-size: 1.2rem;

            transition: 0.6s ease-in-out;
        }
    }

    .navbar .a {
        color: $ligthcolor;
    }

    .navbar-toggler {
        color: $ligthcolor;
        border: solid 1px $ligthcolor;
        box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.432);
    }

    [data-bs-theme="dark"] {
        --bs-body-bg: none;
        --bs-border-color-translucent: none;
    }

    //--- NAV > MENU DESPLEGABLE ---//
    .dropdown-menu {
        background-color: #00000000;
        box-shadow: inset 0px 0px 10px 0 #5e0b1593;
        border-radius: 50% 20% / 10% 40%;
        padding: 2rem;

        font-size: 1rem;

        @include md-1000 {
            background-color: $principalcolor;
            border-radius: 5% 10% 40% 5%;
        }

        &:hover {
            color: $terciarycolor;

            font-size: 1.2rem;

            transition: 0.6s ease-in-out;
        }
    }

    .dropdown-item {
        color: $ligthcolor;
        font-size: 1.2rem;
        text-align: right;

        @include md-1000 {
            padding: 0 1rem 0 0;
            text-align: left;
        }
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        background-color: #00000000;
        border-radius: 50% 20% / 10% 40%;

        color: $terciarycolor;
        text-shadow: 1px 1px 1px 0, 0, 0, 0.3;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 900;
        text-shadow: $principalcolor;

        transition: all 1s ease;
        transform: scale (1.1);
    }
}