    //--- HEADER > H1 / INDEX ---//
    .contenedor__h1 {
        background-color: #5e0b1593;
        border-radius: 5% 5% 15% 5%;
        //Transparencia en base al $principalcolor//
        @include shadow_inset (5px);

        width: 450px;
        padding: 2rem;
        margin: 8rem auto;

        @include flexbox-column (center, center);

        text-align: center;

        line-height: 0.2;

        @include md-1000 {
            width: 600px;
            border-radius: 5% 5% 20% 5%;
        }

        @include md-1200 {
            width: 800px;
            border-radius: 5% 5% 25% 5%;
        }

        & h1 {
            color: $ultraligthcolor;
            @include text_shadow (5px);
            font-family: $decorativefont;
            font-size: 4.6rem;
            line-height: 0.8;

            animation-name: cambiarUltraligth;
            animation-duration: 12s;
        }

        & h3 {
            color: $terciarycolor;
            font-family: $decorativefont;
            font-size: 2.6rem;
            font-weight: 700;

            animation-name: cambiarTerciary;
            animation-duration: 12s;
        }

        & h4 {
            color: $ultraligthcolor;
            @include text_shadow (3px);
            font-size: 1.6rem;
            font-weight: 900;

            animation-name: cambiarUltraligth;
            animation-duration: 12s;
        }
    }

    @keyframes cambiarUltraligth {
        from {
            color: #ffffff00;
        }

        to {
            color: $ultraligthcolor;
        }
    }

    @keyframes cambiarTerciary {
        from {
            color: #ffffff00;
        }

        to {
            color: $terciarycolor;
        }
    }

    //--- DESTACADO EN INDEX ---//
    .contenedor__destacado {
        max-width: 750px;
        @include flexbox-column (center, center);

        padding: 4rem;

        text-align: center;
        line-height: 3rem;

        & h3 {
            color: $secundarycolor;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 700;
            line-height: 2rem;
        }

        & h4 {
            color: $terciarycolor;
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }

    //--- SECCIÓN PRODUCTOS / INDEX ---//
    //TITULO PRODUCTOS//
    .titulo__productos {
        padding: 2rem;
        margin: 0 auto;

        & h2 {
            padding: 2rem 0 0 0;
            margin: 0;

            -webkit-text-fill-color: rgba(255, 255, 255, 0);
            -webkit-text-stroke-color: $principalcolor;
            -webkit-text-stroke-width: 2px;
            letter-spacing: 0.6rem;
            font-size: 2rem;
            font-weight: 900;
            text-align: center;
        }
    }

    //CUERPO PRODUCTOS//
    .contenedor__productos {
        @include flexbox-column(center, center);

        padding: 0 0 3rem 0;

        & h4 {
            padding: 1rem 0;
            margin: 0;
        }

        ol {
            background-color: $ultraligthcolor;
            padding: 1rem;
            margin: 1rem;
        }

        @include md-1000 {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 485px 450px 285px 450px;

            align-items: start;
            justify-content: center;

            padding: 0 4rem 0 4rem;

            gap: 2rem;

            //TEXTO TORTAS ARTESANALES//
            .parrafo__tortas {
                grid-column: 1/2;
                grid-row: 1/2;

                margin: 0;

                @include md-1200 {
                    grid-column: 1/2;
                    grid-row: 1/2;

                    padding: 0;
                    margin: 0;
                }
            }

            //TÍTULO / BOTÓN TORTAS ARTESANALES//
            .links__tortas {
                grid-column: 1/2;
                grid-row: 2/3;

                padding: 0 2rem 0 0;

                @include md-1000 {
                    padding: 0 2rem 2rem 0;
                }

                @include md-1200 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
            }

            //TEXTO PASTELERÍA CREATIVA//
            .parrafo__pasteleria {
                grid-column: 2/3;
                grid-row: 1/2;

                margin: 0;

                @include md-1200 {
                    grid-column: 2/3;
                    grid-row: 1/2;

                    padding: 0;
                    margin: 0;
                }
            }

            //TÍTULO / BOTÓN PASTELERÍA CREATIVA//
            .links__pasteleria {
                grid-column: 2/3;
                grid-row: 2/3;

                padding: 0 2rem 0 0;

                @include md-1000 {
                    padding: 0 2rem 2rem 0;
                }

                @include md-1200 {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }

            //TEXTO MESA DULCE//
            .parrafo__dulce {
                grid-column: 1/2;
                grid-row: 3/4;

                margin: 0;

                @include md-1200 {
                    grid-column: 3/4;
                    grid-row: 1/2;

                    padding: 0;
                    margin: 0;
                }
            }

            //TÍTULO / BOTÓN MESA DULCE//
            .links__dulce {
                grid-column: 1/2;
                grid-row: 4/5;

                padding: 0 2rem 0 2rem;

                @include md-1200 {
                    grid-column: 3/4;
                    grid-row: 2/3;
                }
            }

            //TEXTO SERVICIO DE LUNCH//
            .parrafo__lunch {
                grid-column: 2/3;
                grid-row: 3/4;

                margin: 0;

                @include md-1200 {
                    grid-column: 4/5;
                    grid-row: 1/2;

                    padding: 0;
                    margin: 0;
                }
            }

            //TÍTULO / BOTÓN SERVICIO DE LUNCH//
            .links__lunch {
                grid-column: 2/3;
                grid-row: 4/5;

                padding: 0 2rem 0 2rem;

                @include md-1200 {
                    grid-column: 4/5;
                    grid-row: 2/3;
                }
            }
        }

        @include md-1200 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 500px 500px;

            max-width: 1200px;
            margin: 0 auto;

            align-items: start;
            justify-content: center;

            padding: 0 2rem 2rem 2rem;

            gap: 1rem;

            text-align: justify;
            line-height: 1rem;

            .parrafo h4 {
                padding: 0;
            }
        }

        //IMAGEN DE FONDO / SECCIÓN PRODUCTOS INDEX//
        .enlace__tortas {
            background-image: url(../imagenes/image_index/tortas_artesanales.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: contain;
            border-bottom-left-radius: 50%;

            overflow: hidden;

            min-height: 280px;
            padding: 0 2rem 0.5rem 0;

            @include flexbox-column(end, end);

            align-items: end;
            justify-content: space-between;

            @include md-1000 {
                width: 100%;
                max-height: 400px;
                padding: 0 0.5rem 1rem 0;

                align-self: flex-end;
            }
        }

        .enlace__pasteleria {
            background-image: url(../imagenes/image_index/pastelería_creativa.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: cover;
            border-bottom-left-radius: 50%;

            overflow: hidden;

            min-height: 280px;
            padding: 0 2rem 0.5rem 0;

            @include flexbox-column (center, end);

            align-items: end;
            justify-content: space-between;

            @include md-1000 {
                width: 100%;
                max-height: 400px;
                padding: 0 0.5rem 1rem 0;

                align-self: flex-end;
            }
        }

        .enlace__dulce {
            background-image: url(../imagenes/image_index/mesa_dulce.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            border-radius: 10% 25%;

            overflow: hidden;

            min-height: 280px;
            padding: 0 0 0.5rem 0;

            @include flexbox-column (center, center);
            align-items: center;

            @include md-768 {
                min-height: 400px;
            }

            @include md-1000 {
                width: 100%;
                padding-top: 4.4rem;

                @include flexbox-column (center, center);

                overflow: hidden;
            }

            @include md-1200 {
                min-height: 350px;

                align-self: end;
            }
        }

        .enlace__lunch {
            background-image: url(../imagenes/image_index/servicio_de_luch.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            border-radius: 10% 25%;

            overflow: hidden;

            min-height: 280px;
            padding: 0 0 0.5rem 0;

            @include flexbox-column (center, center);
            align-items: center;

            @include md-768 {
                min-height: 400px;
            }

            @include md-1000 {
                width: 100%;
                padding-top: 4.4rem;

                @include flexbox-column (center, center);

                overflow: hidden;
            }

            @include md-1200 {
                min-height: 350px;

                align-self: end;
            }
        }

        //SUBTÍTULOS / SECCIÓN PRODUCTOS INDEX//
        .subtitulo {
            text-align: center;

            & h2 {
                margin: 0;

                color: $secundarycolor;
                @include text_shadow (1px);
                letter-spacing: 0.1rem;
                font-size: 1.6rem;
                font-weight: 700;
            }

            & h3 {
                margin: 0;

                font-family: $decorativefont;
                line-height: 1rem;
                color: $terciarycolor;
                font-size: 2.5rem;
                font-style: italic;
            }
        }
    }

    //--- BLOQUE PROMOCIÓN / INDEX ---//
    .contenedor__promo {
        background-color: $principalcolor;
        border-radius: 20% 0 10% 0;
        padding: 2rem 1.5rem;
        margin: 0 auto;

        gap: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 250px;

        overflow: hidden;

        align-content: center;
        justify-items: center;

        @include md-768 {
            padding: 4rem 2rem;
            grid-template-rows: 400px 150px;
        }

        @include md-1000 {
            max-width: 1200px;
            padding: 4rem;
            margin: 0 auto;
            border-radius: 20% 0 20% 0;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 450px;

            grid-template-areas:
                "promo lista fiesta consulta";

            gap: 2rem;
        }

        & ul h4 {
            padding: 0;
            margin-bottom: 0;

            color: $ligthcolor;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 900;

            @include md-768 {
                font-size: 1.3rem;
            }
        }

        & li h5 {
            padding: 0;
            margin-bottom: 0;

            color: $terciarycolor;
            font-size: 1rem;
            font-style: italic;
            font-weight: 600;

            @include md-768 {
                font-size: 1.5rem;
            }
        }

        //ÍCONO DE PROMOCIÓN//
        .icono__promo {
            width: 150px;

            grid-column: 1/2;
            grid-row: 1/2;

            align-self: start;
            justify-self: center;

            @include md-1000 {
                grid-area: promo;
            }
        }

        //TÍTULO DE BLOQUE PROMOCIÓN//
        .promo {
            grid-column: 1/2;
            grid-row: 1/2;

            @include flexbox-column (center, center);

            align-self: end;

            text-align: center;
            letter-spacing: 0.3rem;

            & h2 {
                align-self: center;
                justify-self: end;

                padding: 0;
                margin: 0;

                color: $terciarycolor;
                @include text_shadow (3px);
                font-size: 1.5rem;
                font-weight: 900;
                line-height: 1.4rem;

                @include md-768 {
                    font-size: 1.6rem;
                    line-height: 1.2rem;
                }

                @include md-1000 {
                    line-height: 2.2rem;
                }
            }

            & h4 {
                align-self: center;
                justify-self: end;

                padding: 0;
                margin: 0;

                color: $ultraligthcolor;
                @include text_shadow (4px);
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.4rem;
                font-style: italic;

                @include md-768 {
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }

            & .resaltar h3 {
                align-self: start;
                justify-self: end;

                padding: 0;
                margin: 0;
                color: $ligthcolor;
                @include text_shadow (3px);
                font-family: $decorativefont;
                font-size: 3.8rem;
                font-weight: 800;

                @include md-768 {
                    font-size: 4.8rem;
                }

                @include md-1000 {
                    font-size: 5rem;
                }
            }
        }

        //LISTAS DE PRODUCTOS EN PROMO//
        .promo__lista {
            padding: 0;
            margin: 0;

            grid-column: 2/3;
            grid-row: 1/2;

            align-self: flex-start;

            @include md-1000 {
                grid-area: lista;

                align-self: start;
            }
        }

        .promo__listado {
            padding-top: 8rem;
            margin: 0;

            grid-column: 2/3;
            grid-row: 1/2;

            align-self: center;

            @include md-1000 {
                grid-area: lista;

                align-self: end;
            }
        }

        //TEXTO BLOQUE PROMO//
        .promo__detalle {
            grid-column: 1/2;
            grid-row: 2/3;

            @include flex-center;

            justify-content: center;
            align-items: center;

            @include md-1000 {
                grid-area: fiesta;

                align-self: center;

                gap: 1rem;
            }

            & h2 {
                padding: 0;
                margin: 0;

                color: $ultraligthcolor;
                @include text_shadow (3px);
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: 0.22rem;
                line-height: 2rem;
                text-align: center;
            }

            & h3 {
                padding: 0;
                margin: 0;

                color: $terciarycolor;
                @include text_shadow_clear;
                font-size: 1.5rem;
                font-weight: 900;
                letter-spacing: 0.22rem;
                line-height: 2rem;
                text-align: center;
                text-transform: uppercase;
            }
        }

        //ÍCONO ESPECIAL NAVIDAD//
        .ornamentos {
            display: none;

            @include md-1000 {
                display: block;
                grid-area: consulta;

                align-self: start;
            }

            @include md-1200 {
                display: block;
                grid-area: consulta;

                align-self: center;
            }
        }

        //BOTÓN DE CONSULTA / BLOQUE PROMO//
        .consultame {
            grid-column: 2/3;
            grid-row: 2/3;

            align-self: start;
            justify-self: center;

            @include md-1000 {
                grid-area: consulta;

                align-self: end;
                justify-self: center;
            }

            @include md-1200 {
                grid-area: fiesta;

                align-self: end;
                justify-self: center;
            }

            & h5 {
                border: solid 0.2rem $ultraligthcolor;
                border-radius: 0.3rem;
                padding: 0.8rem 0.3rem;
                margin: 0;

                color: $ultraligthcolor;
                @include shadow (2px);
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 0.1rem;
                text-align: center;

                transition: all 0.8s ease-in-out;

                @include md-768 {
                    font-size: 2rem;
                    padding: 1rem 1rem;
                }

                @include md-1000 {
                    font-size: 1rem;
                    padding: 1rem 1rem;

                    grid-area: consulta;

                    align-self: flex-end;
                }

                &:hover {
                    border: solid 0.2rem $terciarycolor;
                    border-radius: 0.3rem;

                    color: $terciarycolor;
                    @include text_shadow (2px);

                    transition: all 0.8s ease-in-out;
                }
            }
        }
    }

    //--- SECTOR ENVÍOS / INDEX ---//
    .contenedor__envios {
        background-color: $ligthcolor;
        border-radius: 0 20% 0 20%;
        padding: 3rem;

        color: $secundarycolor;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 80px 50px;

        align-items: center;
        justify-content: center;

        overflow: hidden;

        gap: 1rem;

        @include md-768 {
            padding: 5rem;

            grid-template-rows: 220px 140px 80px;
        }

        @include md-1000 {
            max-width: 1200px;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 250px;

            grid-template-areas:
                "icono pedido comprar icono2 consulta";

            padding: 2rem 4rem 3rem 2rem;
            margin: 0 auto;

            gap: 1rem;
        }

        //ÍCONOS BLOQUE ENVÍOS//
        & img {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;

            object-fit: contain;
            overflow: hidden;
        }

        //TÍTULO BLOQUE ENVÍOS//
        .envios {
            grid-column: 1/2;
            grid-row: 1/2;

            line-height: 0.1rem;

            @include md-1000 {
                grid-area: pedido;

                align-self: end;
            }

            & h2 {
                padding: 0;
                margin: 0;

                -webkit-text-fill-color: rgba(255, 255, 255, 0);
                -webkit-text-stroke-color: $principalcolor;
                -webkit-text-stroke-width: 2px;
                font-size: 2.3rem;
                font-weight: 900;
                letter-spacing: 0.25rem;
                line-height: 2.2rem;

                animation-name: cambioColor;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;

                @include md-768 {
                    font-size: 3rem;
                    letter-spacing: 0.5rem;
                    line-height: 2.8rem;
                }

                @include md-1000 {
                    font-size: 3rem;
                    letter-spacing: 0.3rem;
                    line-height: 2.8rem;
                }
            }

            & h3 {
                padding: 0;
                margin: 0;

                color: $secundarycolor;
                @include text_shadow_clear;
                font-size: 1.4rem;
                font-weight: 900;

                @include md-768 {
                    font-size: 2rem;
                }

                @include md-1000 {
                    font-size: 1.75rem;
                }
            }

            & h4 {
                padding: 0;
                margin: 0;

                color: $principalcolor;
                font-size: 1.05rem;
                font-weight: 700;
                font-style: italic;
                line-height: 1.2rem;

                @include md-768 {
                    font-size: 1.8rem;
                    letter-spacing: 0.1rem;
                    line-height: 2rem;
                }

                @include md-1000 {
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                }
            }
        }

        //ÍCONO PRINCIPAL ENVÍOS / carrito//
        .icono__envios {
            width: 70%;
            padding-bottom: 2rem;

            grid-column: 2/3;
            grid-row: 1/2;

            justify-self: center;

            animation-name: ampliar;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;

            @include md-480 {
                width: 50%;
            }

            @include md-1000 {
                width: 70%;

                grid-area: icono;

                align-self: center;
            }
        }

        //ÍCONO COMPRAR / corazón con flecha//
        .icono__comprar {
            display: none;

            @include md-1000 {
                display: block;

                width: 70%;

                grid-area: comprar;

                align-self: start;
                justify-self: start;

                animation-name: rebotar;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
        }

        //BOTÓN COMPRAR / BLOQUE ENVÍOS//
        .comprar {
            grid-column: 2/3;
            grid-row: 2/3;

            animation-name: cambioColor;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;

            @include md-1000 {
                grid-area: comprar;

                align-self: end;
            }

            & h5 {
                background-color: $principalcolor;
                border-radius: 0.3rem;
                @include shadow (3px);
                padding: 1.2rem 0.5rem;
                margin: 0;

                color: $ligthcolor;
                font-size: 1.2rem;
                font-weight: 900;
                text-align: center;
                transition: all 0.4s;

                &:hover {
                    background-color: $ultraligthcolor;
                    border-radius: 0.3rem;

                    color: $terciarycolor;
                    @include text_shadow (0.5px);

                    transition: all 0.4s;
                    transform: scale(1.2);
                }
            }
        }

        //ÍCONO CONSULTA / sobre//
        .icono__sobre {
            display: none;

            @include md-1000 {
                display: block;

                width: 50%;
                padding-bottom: 4rem;

                grid-area: consulta;

                align-self: end;
                justify-self: center;

                transition: all 0.4s ease-in-out;

                &:hover {
                    transition: all 0.4s ease-in-out;
                    transform: rotateX(70deg);
                }
            }
        }

        //ÍCONO CONSULTA / BLOQUE ENVÍOS//
        .icono__consulta {
            grid-column: 1/2;
            grid-row: 2/3;

            width: 80%;
          
            justify-self: center;

            transition: all 0.4s ease-in-out;

            &:hover {
                transition: all 0.4s ease-in-out;
                transform: rotate(360deg);
            }

            @include md-480 {
                width: 75%;
                padding-top: 1rem;
            }

            @include md-768 {
                padding-top: 3rem;
            }

            @include md-1000 {
                grid-area: icono2;

                width: 80%;

                align-self: end;
                justify-self: end;
            }
        }

        //BOTÓN CONSULTA / BLOQUE ENVÍOS//
        .consulta {
            grid-column: 1/2;
            grid-row: 3/4;

            @include md-768 {
                padding: 0.8rem;
                font-size: 1rem;
            }

            @include md-1000 {
                grid-area: consulta;

                align-self: flex-end;

                padding: 0;
            }

            & h5 {
                background-color: $principalcolor;
                border-radius: 0.3rem;
                @include shadow (2px);
                padding: 0.5rem;
                margin: 0;

                color: $ligthcolor;
                font-size: 0.8rem;
                font-weight: 900;
                text-align: center;

                &:hover {
                    background-color: $ultraligthcolor;
                    border-radius: 0.3rem;

                    color: $ligthcolor;

                    transition: 1.5s;
                }
            }
        }
    }