/*--- LISTA / MENÚ / SECCIÓN TORTAS ARTESANALES ---*/
.contenedor__menu {
    width: 100%;
    padding: 2rem;

    @include flexbox-column (start, space-between);

    @include md-1024 {
        @include flex-center;
        flex-direction: row;
    }

    & li {
        display: flex;
        flex-wrap: wrap;
    }

    //TÍTULO MENÚ / SECCIÓN TORTAS ARTESANALES//
    .titulo__menu h4 {
        color: $secundarycolor;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-align: left;

        .enfasis {
            @extend %template__enfasis;
            text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }

    //TEXTO MENÚ / SECCIÓN TORTAS ARTESANALES//
    .texto__menu h5 {
        color: $ligthcolor;
        font-size: 1.2rem;
        font-weight: 400;
        font-style: italic;
        line-height: 2rem;
        text-align: inherit;

        @include md-1024 {
            width: 700px;
            padding-right: 2rem;
        }

        @include md-1200 {
            width: 800px;
            padding-right: 4rem;
        }
    }

    .font__detalle {
        @extend %template__detalle;
    }

    //IMÁGENES MENÚ / SECCIÓN TORTAS ARTESANALES//
    .img__menu {
        display: none;

        @include md-1024 {
            display: flex;

            width: 180px;
            height: 180px;

            object-fit: cover;
            overflow: hidden;

            filter: sepia(20%) contrast(100%);

            transition: width height 0.4s ease-in-out;

            z-index: 1;

            &:hover {
                display: flex;

                cursor: pointer;

                transition: width height 0.8s ease-in-out;
                transform: scale(1.5);

                z-index: 1;
            }
        }

        @include md-1200 {
            width: 220px;
            height: 220px;
        }
    }
}