/*--- SUBSECCIÓN MENÚ TORTAS ARTESANALES / SECCIÓN TORTAS ARTESANALES ---*/
/*--- ÍCONOS / SUBSECCIÓN MENÚ TORTAS ARTESANALES ---*/
.iconos_tortas {
    display: none;

    @include md-1000 {
        display: flex;

        width: 1000px;
        padding: 0 4rem;

        gap: 1rem;
    }

    .icono__torta {
        width: 80px;
        animation: caminar 7.3s infinite linear;
    }

    .icono__corazon {
        width: 30px;
        animation: caminarIzq 7.3s infinite linear;
    }
}

/*--- LISTA MENÚ / SUBSECCIÓN MENÚ TORTAS ARTESANALES ---*/
.contenedor__menu {
    width: 100%;
    padding: 2rem;

    @include flexbox-column (start, space-between);

    @include md-1024 {
        @include flex-center;
        flex-direction: row;
    }

    & li {
        display: flex;
        flex-wrap: wrap;
    }

    //TÍTULO MENÚ / SUBSECCIÓN MENÚ TORTAS ARTESANALES//
    .titulo__menu h2 {
        color: $secundarycolor;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-align: left;

        .enfasis {
            @extend %template__enfasis;
            text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }

    //TEXTO MENÚ / SUBSECCIÓN MENÚ TORTAS ARTESANALES//
    .texto__menu h3 {
        color: $ligthcolor;
        font-size: 1.2rem;
        font-weight: 400;
        font-style: italic;
        line-height: 2rem;
        text-align: inherit;

        @include md-1024 {
            width: 700px;
            padding-right: 2rem;
        }

        @include md-1200 {
            width: 800px;
            padding-right: 4rem;
        }
    }

    .font__detalle {
        @extend %template__detalle;
    }

    //IMÁGENES MENÚ / SUBSECCIÓN MENÚ TORTAS ARTESANALES//
    .img__menu {
        display: none;

        @include md-1024 {
            display: flex;

            width: 180px;
            height: 180px;

            object-fit: cover;
            overflow: hidden;

            filter: sepia(20%) contrast(100%);

            transition: width height 0.8s ease-in-out;

            z-index: 1;

            &:hover {
                display: flex;

                cursor: pointer;

                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.314);

                transition: width height 1s ease-in-out;

                transform: scale(1.5);

                z-index: 1;
            }
        }

        @include md-1200 {
            width: 220px;
            height: 220px;
        }
    }
}