/*--- PAGE / SECCIÓN SERVICIO DE LUNCH - PRESENTACIÓN ---*/
//BOTÓN / SUBSECCIÓN - PROMO BOX DESAYUNO | MERIENDA//
.boton_outline {
    & h4 {
        font-style: normal;
    }
}

//CUERPO CENTRAL / SECCIÓN TORTAS ARTESANALES//
.grilla_lunch {
    min-width: 350px;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;

    @include flexbox-column (center, center);

    .parrafo {
        padding: 0 1rem;

        @include md-1024 {
            padding: 0;

            & h3 {
                padding-bottom: 1rem;
            }
        }
    }

    .parrafo h4 {
        padding: 0 1.5rem;
        font-size: 1.05rem;
        line-height: 1.8rem;
        font-style: italic;
        font-weight: 700;

        @include color-texto($principalcolor);

        @include md-1000 {
            @include color-texto($ultraligthcolor);
        }
    }

    @include md-480 {
        padding: 0 2rem;
    }

    @include md-768 {
        padding: 0 4rem;
    }

    @include md-1000 {
        padding: 0 6rem;
    }

    .font__detalle {
        @extend %template__detalle;
    }

    @include md-1024 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 300px 420px 200px 300px 500px;

        max-width: 1000px;
        padding: 0 1.5rem;

        place-content: center;

        gap: 2rem;

        @include md-1200 {
            grid-template-rows: 150px 280px 300px 150px 280px 300px;

            max-width: 1024px;
            padding: 2rem 3rem 0 3rem;

            gap: 2rem;
        }

        //TEXTOS / PÁRRAFOS / SECCIÓN TORTAS ARTESANALES//
        .miga {
            grid-column: 1/2;
            grid-row: 3/4;

            align-self: start;
        }

        .pollo {
            grid-column: 2/3;
            grid-row: 3/4;

            align-self: start;
        }

        .chips {
            grid-column: 3/4;
            grid-row: 3/4;

            align-self: start;
        }

        .salchichitas {
            grid-column: 1/2;
            grid-row: 6/7;

            align-self: start;
        }

        .brusquetas {
            grid-column: 2/3;
            grid-row: 6/7;

            align-self: start;
        }

        .empanadas {
            grid-column: 3/4;
            grid-row: 6/7;

            align-self: start;
        }

        .parrafo {
            align-self: start;
            padding-top: 2rem;

            @include md-1024 {
                padding-top: 0;
            }

            & h2 {
                text-align: left;
            }
        }
    }

    .parrafo li {
        padding: 0.8rem 0;

        @include md-1024 {
            padding: 1.5rem 0 0 0;
        }
    }

//TÍTULOS / SECCIÓN TORTAS ARTESANALES//
.titulo__miga {
    @include flexbox-column (center, center);
    
    padding: 4rem;
   
    align-items: center;

    & h2 {
        margin-bottom: 0;

        color: $terciarycolor;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
        font-size: 1.6rem;
        font-weight: 700;
        font-style: italic;
        text-align: center;
    }

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 1/2;

        align-self: center;
    }
}

.titulo__pollo {
    @extend .titulo__miga;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 1/2;

        align-self: center;
        justify-self: center;
    }
}

.titulo__chips {
    @extend .titulo__miga;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 1/2;

        align-self: center;
    }
}

.titulo__salchichitas {
    @extend .titulo__miga;

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 4/5;

        align-self: center;
        justify-self: center;
    }
}

.titulo__brusquetas {
    @extend .titulo__miga;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 4/5;

        align-self: center;
        justify-self: center;
    }
}

.titulo__empanadas {
    @extend .titulo__miga;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 4/5;

        align-self: center;
        justify-self: center;
    }
}

//DESTACADO EN TÍTULOS / SECCIÓN SERVICIO DE LUNCH//
.acentuado {
    color: $secundarycolor;
    text-shadow: none;
    font-family: $decorativefont;
    font-size: 3.5rem;

    animation: ampliar 1s infinite alternate ease-in-out;

    @include md-1024 {
        line-height: 3rem;
        text-align: center;
    }
}

//IMÁGENES / SECCIÓN SERVICIO DE LUNCH//
& img {
    width: 100%;
    height: 100%;
    border-top: double 8px $terciarycolor;
    border-radius: 10% 40% / 50% 20%;
    box-shadow: 0px 8px 10px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    object-fit: cover;
    overflow: hidden;

    align-self: center;

    filter: sepia(40%) brightness(90%);

    transition: width height 0.8s ease-in-out;
}

//DETALLES PARA FOTOS / SECCIÓN SERVICIO DE LUNCH//
.foto__miga {
    width: 280px;
    height: 280px;
    padding: 1rem;
    margin: 3rem auto;

    transition: width height 6s ease-in-out;

    z-index: 3;

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 2/3;

        padding: 0;
        margin: 0;

        align-self: center;
    }

    & :hover {
        border-top: none;
        box-shadow: none;
        cursor: pointer;

        transition: width height 4s ease-in-out;

        animation: escalar 2s alternate ease-in-out;
    }
}

.foto__pollo {
    @extend .foto__miga;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.foto__chips {
    @extend .foto__miga;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

.foto__salchichitas {
    @extend .foto__miga;

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

.foto__brusquetas {
    @extend .foto__miga;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
}

.foto__empanadas {
    @extend .foto__miga;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 5/6;
    }
}
}