/*--- PAGE / SECCIÓN TORTAS ARETESANALES - PRESENTACIÓN ---*/

//BOTÓN / SUBSECCIÓN - MENÚ TORTAS ARTESANALES//
.boton_outline {
    & h4 {
        font-style: normal;
    }
}

//CUERPO CENTRAL / SECCIÓN TORTAS ARTESANALES//
.grilla_tortas {
    min-height: 360px;
    padding: 1rem;

    @include flexbox-column (center, center);

    text-align: center;

    .parrafo h4 {
        padding: 0 2rem;

        font-style: italic;
        font-weight: 700;

        @include color-texto($principalcolor);

        @include md-1000 {
            @include color-texto($ultraligthcolor);
        }
    }

    @include md-480 {
        padding: 2rem;
    }

    @include md-768 {
        padding: 4rem;
    }

    @include md-1000 {
        padding: 6rem;
    }

    .font__detalle {
        @extend %template__detalle;
    }

    .lista__butter {
        border-radius: 0 1rem;
        padding: 2rem 1rem;

        @include color-texto($principalcolor);

        @include md-1000 {
            @include color-texto($ultraligthcolor);
        }
    }

    .lista__fondant {
        border-radius: 2rem 0;

        @extend .lista__butter;
    }

    @include md-1024 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px 350px 450px 1280px 650px;

        width: 1024px;
        padding: 2rem 2rem 0 2rem;
        margin: 0 auto;

        align-items: center;
        justify-content: center;

        gap: 1rem;

        @include md-1200 {
            grid-template-rows: 450px 350px 450px 1280px 660px;
            padding: 2rem 2rem 0 2rem;
        }

        //TEXTOS / PÁRRAFOS / SECCIÓN TORTAS ARTESANALES//
        .butter {
            grid-column: 1/2;
            grid-row: 4/5;

            align-self: start;
        }

        .fondant {
            grid-column: 2/3;
            grid-row: 4/5;

            align-self: start;
        }

        .letter {
            grid-column: 3/4;
            grid-row: 4/5;

            align-self: start;
        }

        .parrafo {
            align-self: start;
            padding-top: 2rem;

            & h2 {
                text-align: left;
            }
        }
    }

    //IMÁGENES / SECCIÓN TORTAS ARTESANALES//
    & img {
        width: 350px;
        height: 450px;
        border-top: double 8px $terciarycolor;
        border-radius: 50% 20% / 10% 40%;
        box-shadow: 0px 8px 10px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

        object-fit: cover;

        filter: sepia(40%) brightness(90%);

        transition: width height 0.8s ease ease-in-out;
    }

    .parrafo li {
        padding: 0.8rem 0;
    }
}

//TÍTULOS / SECCIÓN TORTAS ARTESANALES//
.titulo__butter {
    @include flex-center;

    padding: 4rem;

    @include md-1024 {
        text-align: center;
    }

    & h2 {
        color: $terciarycolor;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
        font-size: 1.6rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.4rem;

        @include md-1024 {
            text-align: center;
        }
    }

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 2/3;

        align-self: center;
    }
}

.titulo__fondant {
    @extend .titulo__butter;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 2/3;

        align-self: center;
    }
}

.titulo__letter {
    @extend .titulo__butter;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 2/3;

        align-self: center;
    }
}

//DESTACADO EN TÍTULOS / SECCIÓN TORTAS ARTESANALES//
.acentuado {
    color: $secundarycolor;
    text-shadow: none;
    font-family: $decorativefont;
    font-size: 4.5rem;
    line-height: 2rem;

    animation: ampliar 1s infinite alternate ease-in-out;

    @include md-1024 {
        line-height: 3rem;
        text-align: center;
    }
}

//DETALLES PARA FOTOS / SECCIÓN TORTAS ARTESANALES//
.foto__butter {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 3rem auto;

    object-fit: cover;

    transition: width height 1.2s ease-in-out;

    z-index: 3;

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    & :hover {
        border-top: none;
        box-shadow: none;
        cursor: pointer;

        transition: width height 2s ease ease-in-out;
        transform: scale(1.2);
    }
}

.foto__cream {
    @extend .foto__butter;

    @include md-1024 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

.foto__fondant {
    @extend .foto__butter;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.foto__fon {
    @extend .foto__butter;

    @include md-1024 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

.foto__number {
    @extend .foto__butter;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}

.foto__letter {
    @extend .foto__butter;

    @include md-1024 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}